node_modules/
dist/
output.css.map
.env
.DS_Store
*.log
*.tmp
.cache/
.vscode/
*.local
*.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.bak
*.tgz
coverage/